@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

.main {
    font-family: 'Eczar', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#519088, #406e68)
}

.user-container {
    border: 1px solid black;
    width: 280px;
    height: 480px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 12px;
    animation: end-rotation 0.5s ease-out;
    box-shadow: 2px 2px 4px 2px #00000074;
    background-color: white;
}

.user-container-animate {
    animation: start-rotation 0.5s ease-out;
}

.user-icon__container {
    overflow: hidden;
    width: 128px;
    height: 128px;
    border: 1px solid lightgray;
    border-radius: 6px;
    margin-top: 24px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: white;
}

.user-icon {
    position: relative;
    top: 4px;
    height: 90%;
}

.user-edit {
    width: 60px;
    align-self: end;
    background-color: transparent;
    border: none;
}

.edit-icon {
    width: 70%;
    cursor: pointer;
    opacity: 1;
    transition: padding 0.3s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    transform: rotateY(0deg);
    padding: 2px;
}

.user-edit:hover .edit-icon {
    opacity: 0.5;
    padding: 0px;
}

.user-info {
    border-top: 1px solid lightgray;
    margin-top: 32px;
    align-self: center;
    text-align: center;
    font-size: 1.2rem;
    position: relative;
    width: 75%;
    color: black;
}

.info-label {
    position: relative;
    color: #519088;
    font-size: 0.8rem;
    top: 10px;
    user-select: none;
}

.location-icon {
    position: absolute;
    left: 38px;
    top:  134px;
    padding: 0;
    margin: 0;
    width: 16px;
}

.user-info__first-name,
.user-info__last-name,
.user-info__office-location {
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 4px;
    min-height: 24px;
    width: 100%;
    font-size: 1rem;
    word-break: break-word;
    line-height: 18px;
}

@keyframes start-rotation {
    from {
        transform: rotateY(0);
    }

    to {
        transform: rotateY(90deg);
    }
}

@keyframes end-rotation {
    from {
        transform: rotateY(-90deg);
    }

    to {
        transform: rotateY(0deg);
    }
}
